/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#login-content table tbody tr {
    height: 50px;
}

.btn-logout {
    margin-top: 13px;
    padding: 2px 10px;
}

.btn-login {
    margin-top: 13px;
    padding: 2px 10px;
}

.question-block {
    display: block;
    font-size: 16px;
    margin: 10px 0;
}
.question-block label {
    margin-left: 10px;
    font-weight: 100;
}

.question-title {
    font-size: 16px;
    padding: 10px;
    display: block;
    font-weight: 600;
    border-radius: 5px;
}
.question-image {
    width: 100%;
}


.progress {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}

#MainContent_Button1, #MainContent_Button2, #MainContent_Button3 {
    width: 100%;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;

    border-radius: 0;
}

#MainContent_Button2, #MainContent_Button3 {
    width: 50%;
}

#MainContent_Button3 {
    left: 50%;
}

.question-wrapper {
    margin-bottom: 30px;
}

.btn-success[disabled] {
    background-color: #91B191;
    border-color: #7F9A7F;
    color: #f1f1f1;
}

.btn[disabled] {
    opacity: 1;
}